body {
  font-family: Poppins, sans-serif;
  margin: 0;
  background-color: #5e5e5f81;
  color: #ffffff;
  font-style: normal;
}

.about-section {
  text-align: center;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  margin-top: -50px;
}

.cards-container {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.card {
  padding: 20px;
  max-width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 16px;
  background: var(--color-grey-941, rgba(255, 255, 255, 0.01));
  border: 0.1px solid rgba(255, 255, 255, 0.308);
}

.card h2 {
  font-size: 1.5em;
  margin-bottom: 30px;
}

.card p {
  font-size: 1em;
  line-height: 1.5;
  text-align: center;
}

.history {
  padding: 1px;
  max-width: 850px;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  background: var(--color-grey-941, rgba(226, 232, 255, 0.01));
  border: 0.1px solid rgba(255, 255, 255, 0.308);
  padding-bottom: 20px;
  margin-bottom: 100px;
}

.history h2 {
  font-size: 1.8em;
  margin-bottom: 18px;
}

.history p {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 1em;
  line-height: 1.5;
  text-align: justify;
}

.Icon-ch {
  margin-bottom: 20px;
  width: 40px;
  height: auto;
}

.Icon-fc {
  margin-bottom: 20px;
  margin-top: -10px;
  width: 40px;
  height: auto;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2em;
  }

  .cards-container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    max-width: 90%;
  }

  .history {
    max-width: 90%;
  }

  .history h2 {
    font-size: 1.5em;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.5em;
  }

  .card h2 {
    font-size: 1.2em;
  }

  .card p {
    font-size: 0.9em;
  }

  .history h2 {
    font-size: 1.2em;
  }

  .history p {
    font-size: 0.9em;
  }
}
