.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.home {
  position: relative;
  width: 100%;
  height: 100vh; /* O ajusta según el diseño necesario */
  overflow: hidden;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.home-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
  color: white;
}

.home-title-text {
  margin-top: 20px;
  font-size: 2rem;
  font-weight: bold;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.corner {
  position: absolute;
}

.top-left {
  top: 50px;
  left: 0;
}

.bottom-right {
  bottom: 100px;
  right: 100px;
}

.circle-line {
  position: absolute;
  border: solid;
  border-radius: 50%;
}

.text-animation-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.animated-text {
  font-size: 2rem;
  color: #fff;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.background-image {
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, #4facfe, #00f2fe);
}
/*AboutUS.css*/

/*Bussiness.css*/

/*OurServices.css*/

/*OurClients.css*/

/*OurClients2.css*/

/*ReadyGo.css*/

/*video.css*/

/*WhyUs.css*/