html {
  scroll-snap-type: y mandatory;
}
.navbar {
  position: fixed;
}

.Content-container {
  min-height: 10vh;  /* Asegura que no sea más pequeño que la pantalla */
  height: auto;       /* Ajusta la altura al contenido */
  scroll-snap-align: start;
  position: relative;
}


.navbar, footer {
scroll-snap-align: start;
}

.Content-container div {
  color:fff;
  margin: 0;
}
  
.progress {
  position: fixed;
  left: 0;
  right: 0;
  height: 5px;
  background: #4AA0B3;
  bottom: 50px;
  transform: scaleX(0);
}

/* ESTILOS DE HOME ----------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.home-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
  color: white;
}

.home-title-text {
  margin-top: 20px;
  font-size: 2rem;
  font-weight: bold;
}

.corner {
  position: absolute;
}

.top-left {
  top: 50px;
  left: 0;
}

.bottom-right {
  bottom: 100px;
  right: 100px;
}

.circle-line {
  position: absolute;
  border: solid;
  border-radius: 50%;
}

.text-animation-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.animated-text {
  font-size: 2rem;
  color: #fff;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.background-image {
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, #4facfe, #00f2fe);
}


/* ESTILOS DE OurClients ----------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.our-clients {
  text-align: center;
  padding: 400px;
}

.container-top h1 {
  font-size: 2rem;
}

.container-middel {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.list-clients {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row; /* Cambio a fila para disposición horizontal */
  gap: 20px; /* Espaciado entre los elementos */
}

.list-clients li {
  position: relative;
  padding: 15px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 1.2rem;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.list-clients li:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.client-info {
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  max-width: 300px; /* Ajusta según sea necesario */
  padding: 8px 12px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
  font-size: 0.9rem;
  text-align: center;
  z-index: 10;
  white-space: normal; /* Permite que el texto se ajuste automáticamente */
  background: #333;
}
