.animated-text {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: clamp(1.5rem, 5vw, 3rem);
    line-height: 1.5;
    text-align: center;
    color: #FFFFFF;
    display: flex; /* Activar Flexbox */
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
  
  }
  