@import url('../../../node_modules/@fortawesome/fontawesome-free/css/all.min.css');

.services-container {
    margin-top: 100px;
    /* background-color: #050520; */
    color: #fff;
    font-family: 'Arial', sans-serif;
    text-align: center;
    padding: 5rem 2rem;
}

.services-title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-size: 44px;
}

.services-description {
    font-size: 1rem;
    margin-bottom: 2rem;
}

.services-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centrar horizontalmente */
    gap: 1.5rem;
}

.service-item {
    position: relative;
    background-color: rgba(26, 32, 40, 0.50);
    /* Fondo con opacidad */
    border-radius: 30px;
    /* Bordes redondeados */
    border: 2px solid #414955;
    /* Borde */
    width: 100%;
    /* Ancho completo */
    max-width: 900px;
    /* Ancho máximo */
    height: 250px;
    /* Alto inicial */
    flex-shrink: 0;
    /* Evitar que se encoja */
    padding: 2rem;
    display: flex;

    flex-direction: column;

    align-items: center;
    /* Centrar verticalmente */
    justify-content: center;
    /* Centrar horizontalmente */
    gap: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    /* Centrar texto */

    transition: all 0.5s ease;
    cursor: pointer;
    overflow: hidden;
    margin-bottom: 20px;
}

.arrow-icon {
    position: absolute;
    bottom: 10px;
    right: 50%;
    transform: translateX(50%);
    font-size: 24px;
    color: white;
}

.service-item.selected {
    height: 650px;
    /* Ajusta esta altura según sea necesario */
    background-color: rgba(26, 32, 40, 0.70);
    /* Fondo con opacidad */
}

.service-details {
    margin-top: 10px;
    display: none;
}

.service-item.selected .service-details {
    display: block;
}

.video-container {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.video-container iframe {
    max-width: 100%;
    border-radius: 10px;
}

/* Media queries para diseño responsivo */
@media (max-width: 768px) {
    .service-item {
        padding: 1.5rem;
        /* Reducir el padding en pantallas más pequeñas */
        flex-direction: column;
        /* Cambiar a columna en pantallas más pequeñas */
        height: auto;
    }

    .service-icon {
        font-size: 1.5rem;
        /* Reducir el tamaño del icono en pantallas más pequeñas */
    }

    .service-text {
        font-size: 1rem;
        /* Reducir el tamaño del texto en pantallas más pequeñas */
    }

    .service-item.selected {
        height: auto;
    }
}

@media (max-width: 480px) {
    .service-item {
        padding: 3rem;
        /* Reducir aún más el padding en pantallas muy pequeñas */
    }

    .service-icon {
        font-size: 1.2rem;
        /* Reducir aún más el tamaño del icono en pantallas muy pequeñas */
    }

    .service-text {
        font-size: 0.9rem;
        /* Reducir aún más el tamaño del texto en pantallas muy pequeñas */
    }
}

.service-icon {
    margin: 0 auto;
    width: 80px;
    height: 75px;
}

.service-text {
    flex: 1;
    /* Tomar el espacio restante */
    font-size: 1.3rem;
    /* Tamaño de letra más grande */
    text-align: center;
}

.service-text h2 {
    font-size: 1.2rem;
    margin: 0;
    text-align: center;
}

.service-text p {
    font-size: 0.9rem;
    margin: 0.5rem 0 0;
    text-align: center;
}

.cta-section {
    margin-top: 2rem;
}

.cta-button {
    background-color: #6a0dad;
    color: #fff;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #5c0091;
}

.circulo {
    width: 95px;
    height: 95px;
    flex-shrink: 0;
    stroke-width: 10px;
    stroke: #2B3FF2;
}