.footer {
  background-color: #4e4ef800;
  color: #fff;
  padding: 10px 0;
  font-family: 'Poppins', sans-serif;
  margin-left: 140px;
  margin-right: 140px;
  margin-top: auto;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 0 10%;
  flex-wrap: wrap; /* Permitir que los elementos se ajusten en pantallas pequeñas */
}

.footer-logo {
  flex: 1;
  position: relative;
  left: -140px;
  margin-top: -50px;
  text-align: center; /* Centrar para pantallas más pequeñas */
}

.footer-logo-img {
  width: 300px; /* Tamaño original */
  height: auto;
  margin-bottom: 20px;
  margin-top: 45px;
}

.footer-links,
.footer-contact {
  flex: 1;
  margin-top: 20px;
  text-align: center; /* Ajuste en pantallas más pequeñas */
}

.footer-links h2,
.footer-contact h2 {
  margin-left: 0; /* Asegura alineación con las listas */
  text-align: center; /* Centra los títulos */
  font-size: 1rem;
  margin-bottom: 10px;
}

.footer-links ul,
.footer-contact ul {
  list-style: none; /* Quitamos los estilos de lista */
  padding: 1;
  margin: 0 auto; /* Centramos las listas */
  text-align: center; /* Centrar el contenido dentro de las listas */
}

.footer-separator {
  position: relative;
  left: -454px;
  width: 275%;
  height: 1.5px;
  background-color: #ffffff;
  margin: 5px auto;
}

.footer-links li,
.footer-contact li {
  margin: 10px 0;
}

.footer-links a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #007bff;
}

.footer-contact li {
  display: flex;
  align-items: center;
  justify-content: center; /* Centrar íconos y texto */
  font-size: 0.9rem;
}

.footer-contact li img {
  width: 17px;
  height: 17px;
  margin-right: 10px;
}

.footer-bottom {
  position: relative;
  left: -480px;
  margin-top: -30px;
  font-size: 0.9rem;
  color: #b3b3b3;
}

.footer-bottom-copyright {
  text-align: left;
  margin-top: 30px;
  font-size: 0.8rem;
  color: #b3b3b3;
}

/* Responsividad para pantallas pequeñas */
@media (max-width: 1024px) {
  .footer {
      margin-left: 50px;
      margin-right: 50px;
  }

  .footer-logo {
      left: 0;
  }

  .footer-separator {
      left: 0;
      width: 100%;
  }

  .footer-bottom {
      left: 0;
  }
}

@media (max-width: 768px) {
  .footer {
      margin-left: 20px;
      margin-right: 20px;
  }

  .footer-logo-img {
      width: 250px;
  }

  .footer-logo {
      margin-top: 0;
  }

  .footer-links h2,
  .footer-contact h2 {
      margin-left: 0;
  }

  .footer-links ul {
      right: 0;
  }

  .footer-contact ul {
      left: 0;
  }
}

@media (max-width: 480px) {
  .footer {
      margin: 0 10px;
  }

  .footer-logo-img {
      width: 200px;
  }

  .footer-container {
      flex-direction: column;
      align-items: center;
  }

  .footer-separator {
      width: 90%;
  }

  .footer-bottom {
      text-align: center;
      left: 0;
  }
}
