.footer {
  background-color: #4e4ef800;
  color: #fff;
  padding: 10px 0;
  font-family: 'Poppins', sans-serif;
  margin: 0 10px;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 0 10%;
  flex-wrap: wrap;
}

.footer-logo {
  flex: 1;
  margin-top: -50px;
  text-align: center;
}

.footer-logo-img {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin-bottom: -70px;
  margin-top: 45px;
}

.footer-links,
.footer-contact {
  flex: 1;
  margin-top: 20px;
  text-align: center;
}

.footer-links h2,
.footer-contact h2 {
  margin-left: 0;
  text-align: center;
  font-size: 1rem;
  margin-bottom: 10px;
}

.footer-links ul,
.footer-contact ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  text-align: center;
}

.footer-separator {
  width: 100%;
  height: 1.5px;
  background-color: #ffffff;
  margin: 5px auto;
}

.footer-links li,
.footer-contact li {
  margin: 10px 0;
}

.footer-links a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #007bff;
}

.footer-contact li {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
}

.footer-contact li img {
  width: 17px;
  height: 17px;
  margin-right: 10px;
}

.footer-bottom {
  text-align: center;
  font-size: 0.9rem;
  color: #b3b3b3;
  margin-top: 30px;
}

.footer-bottom-copyright {
  text-align: center;
  font-size: 0.8rem;
  color: #b3b3b3;
  margin-bottom: auto;
}

/* Responsividad para pantallas pequeñas */
@media (max-width: 1024px) {
  .footer {
    margin: 0 50px;
  }

  .footer-logo-img {
    max-width: 250px;
  }
}

@media (max-width: 768px) {
  .footer {
    margin: 0 20px;
  }

  .footer-logo-img {
    max-width: 200px;
  }

  .footer-logo {
    margin-top: 0;
  }
}

@media (max-width: 480px) {
  .footer {
    margin: 0 10px;
  }

  .footer-logo-img {
    max-width: 150px;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-separator {
    width: 90%;
  }

  .footer-bottom {
    text-align: center;
  }
}

/* Responsividad adicional para pantallas muy pequeñas */
@media (max-width: 320px) {
  .footer {
    margin: 0 5px;
  }

  .footer-logo-img {
    max-width: 120px;
  }

  .footer-links h2,
  .footer-contact h2 {
    font-size: 0.9rem;
  }

  .footer-links a {
    font-size: 0.8rem;
  }

  .footer-contact li {
    font-size: 0.8rem;
  }

  .footer-bottom {
    font-size: 0.8rem;
  }
}
