.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
      0deg,
      var(--color-blue-7, #050520) 0%,
      var(--color-blue-7, #050520) 100%
    ),
    var(--color-white-solid, #FFF);
  padding: 0 150px;
  width: 100%;
  height: 70px;
  
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-logo {
  display: flex;
  align-items: center;
  padding: 8px 20px;
  width: 225px;
  height: 75px;
  flex-shrink: 0;
}

.logo-image {
  width: 150px;
  height: auto;
  flex-shrink: 0;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 1.2rem;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.navbar-links a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: #4aa0b3;
}

.oval-container {
  margin-left: auto; /* Asegura que este elemento esté alineado al final */
  background-color: rgba(255, 255, 255, 0.151);
  padding: 5px 15px;
  border-radius: 25px;
  border: 0.1px solid rgba(255, 255, 255, 0.308);
}

.oval-container1 {
  background: linear-gradient(89deg, #4aa0b3 0.89%, #017274 68.11%, #1a2b3d 99.02%);
  padding: 0.2px 5px;
  border-radius: 25px;
  height: 25px;
  width: 77px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.oval-container1:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.language-select {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: rgba(5, 5, 32, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.language-select::after {
  content: "▼";
  font-size: 10px;
  color: rgba(255, 255, 255, 0.699);
  position: absolute;
  bottom: -10px;
}

.language-dropdown {
  position: relative;
}

.language-options {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  background: rgba(5, 5, 32, 0.041);
  border-radius: 25px;
  padding: 5px 0;
  display: none;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 20;
}

.language-dropdown:hover .language-options {
  display: flex;
}

.language-option {
  height: 40px;
  width: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s;
  border-radius: 50%;
}

.language-option:hover {
  background: rgba(255, 255, 255, 0.1);
}

.language-option img {
  width: 25px;
  height: auto;
}

.flag-icon {
  width: 25px;
  height: auto;
}
