.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(0deg, var(--color-blue-7, #050520) 0%, var(--color-blue-7, #050520) 100%), var(--color-white-solid, #FFF);
    fill: url(<path-to-image>) lightgray 50% / cover no-repeat;
    padding: 0 150px ;
    width: 100%;
    height: 70px;
  }
  .navbar-logo {
    padding: 8px 19.99px 8px 20.01px;
    width: 225px;
    height: 75px;
    flex-shrink: 0;
  }
  .logo-image {
    width: 150px;
    height: 75px;
    flex-shrink: 0;
  }

  .navbar-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
    color: #fff;
    font-family:  'Poppins', sans-serif;
    }
  .oval-container{
  background-color: rgba(255, 255, 255, 0.1);
  padding: 5px 20px;
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  }
  .oval-container:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
  .language-selector {
    height: 25px;
    cursor: pointer;
    opacity: 0.8;
  }