.navbar {
  font-family: poppins, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(0deg, var(--color-blue-7, #050520) 0%, var(--color-blue-7, #050520) 100%), var(--color-white-solid, #FFF);
  padding: 0px 150px;
  width: 100%;
  height: 70px;
  transition: padding 0.3s ease;
}

.navbar-logo {
  padding: 8px 20px;
  width: 225px;
  height: 75px;
  flex-shrink: 0;
}

.logo-image {
  width: 150px;
  height: 75px;
  flex-shrink: 0;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 1.2rem;
  color: #fff;
  font-family: poppins, sans-serif;
  transition: display 0.3s ease;
}

.li-text {
  margin-top: 4px;
}

.oval-container {
  margin-left: auto;
  background-color: rgba(255, 255, 255, 0.151);
  padding: 5px 15px;
  border-radius: 25px;
  border: 0.1px solid rgba(255, 255, 255, 0.308);
}

.oval-container1 {
  background: linear-gradient(90deg, #017274 0%, #4aa0b3 50%, #017274 100%);
  padding: 4px 6px;
  border-radius: 35px;
  height: 35px;
  width: auto;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.3s ease;
}

.oval-container1:hover {
  background-color: rgba(255, 255, 255, 0.1);
  opacity: 1;
}

.language-select {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: rgba(5, 5, 32, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.language-select::after {
  content: '▼';
  font-size: 10px;
  color: rgba(255, 255, 255, 0.699);
  position: absolute;
  bottom: -10px;
}

.language-dropdown {
  position: relative;
}

.language-options {
  position: absolute;
  top: 100%;
  left: 0;
  background: rgba(5, 5, 32, 0.041);
  border-radius: 50px;
  padding: 5px 0;
  display: none;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.language-dropdown:hover .language-options {
  display: flex;
}

.language-option {
  height: 40px;
  width: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s;
  border-radius: 50%;
}

.language-option:hover {
  background: rgba(255, 255, 255, 0.1);
}

.language-option img {
  width: 25px;
  height: auto;
  margin-right: 0;
}

.flag-icon {
  width: 25px;
  height: auto;
}

/* Media queries */
@media (max-width: 1024px) {
  .navbar {
      padding: 0px 50px;
  }
  .navbar-links {
      gap: 1rem;
  }
  .logo-image {
      width: 120px;
      height: 60px;
  }
}

@media (max-width: 768px) {
  .navbar {
      flex-direction: column;
      height: auto;
      padding: 10px 20px;
  }
  .navbar-links {
      flex-direction: column;
      display: none;
  }
  .navbar.active .navbar-links {
      display: flex;
  }
}

@media (max-width: 480px) {
  .navbar-logo {
      width: 150px;
  }
  .oval-container {
      display: none;
  }
}
