.Puntos-Blancos {
  position: relative;
  top: 110px;
  left: 310px;
}

.Puntos-Blancos2 {
  position: relative;
  top: 540px;
  right: 700px;
}

.Puntos-Blancos3 {
  position: relative;
  bottom: 10px;
  right: 400px;
}

.sect-about {
  background-color: #0a0a2500;
  color: white;
  padding: 60px 20px;
  font-family: 'Poppins', sans-serif;
}

.about-header h2 {
  display: flex;
  gap: 12px;
  margin-bottom: 30px;
  margin-right: 20px;
}

.about-title {
  font-size: 24px;
  font-weight: bold;
}

.about-icon {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background: linear-gradient(136.57deg, #71D6ED 20.69%, #6CCAE1 51.58%, #458391 98.48%);
  display: flex;
  box-sizing: 10px;
  margin-top: -140px;
  margin-left: 30px;
  margin-bottom: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.about-content {
  max-width: 900px;
  height: 450px;
  padding: 30px;
  background: rgba(255, 255, 255, 0);
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.226);
}

.about-content p {
  font-size: 16px;
  line-height: 1.5;
  margin-top: 20px;
  text-align: justify;
}

.about-content h3 {
  font-size: 24px;
  font-weight: bold;
  margin-top: -20px;
  text-align: left;
}

.about-subtitle {
  font-size: 20px;
}

.about-text {
  font-size: 16px;
  line-height: 1.5;
}

.about-banner {
  padding: 60px 30px;
  background-position: center;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

.about-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 250px;
  background: rgba(0, 0, 0, 0.144);
  border-radius: 15px;
  margin-top: 20px;
}

.about-banner-text {
  position: relative;
  font-size: 36px;
  font-weight: bold;
  color: white;
  z-index: 1;
}

.about-banner h1 {
  margin-top: 20px;
}

.highlight {
  font-weight: bold;
  color: #4aa0b3;
}

/* Media Queries */
@media (max-width: 2560px) and (max-height: 1600px) {
  .sect-about {
    margin-top: 80px;
    margin-left: 0px;
    padding: 40px 15px;
  }

  .about-content {
    max-width: 850px;
    height: auto;
  }

  .about-icon {
    width: 50px;
    height: 50px;
  }

  .about-banner-text {
    font-size: 36px;
  }
}
@media (max-width: 1920px) {
  .sect-about {
    margin-top: 80px;
    margin-left: 0px;
    padding: 40px 15px;
  }

  .about-content {
    max-width: 850px;
    height: auto;
  }
}
@media (max-width: 1280px) {
  .sect-about {
    margin-top: 80px;
    margin-left: 0px;
    padding: 40px 15px;
  }

  .about-content {
    max-width: 850px;
    height: auto;
  }
}

@media (max-width: 1024px) {
  .sect-about {
    margin-top: 80px;
    margin-left: 0px;
    padding: 40px 15px;
  }

  .about-content {
    max-width: 850px;
    height: auto;
  }
}
@media (max-width: 912px) {
  .sect-about {
    margin-top: 80px;
    margin-left: 0px;
    padding: 50px 20px;
  }

  .about-content {
    max-width: 750px;
    height: auto;
  }

  .about-icon {
    width: 45px;
    height: 45px;
  }

  .about-banner-text {
    font-size: 32px;
  }
}

@media (max-width: 768px) {
  .sect-about {
    margin-top: 70px;
    margin-left: 0px;
    padding: 30px 10px;
  }

  .about-content {
    max-width: 100%;
  }

  .about-icon {
    width: 48px;
    height: 48px;
  }

  .about-banner-text {
    font-size: 28px;
  }
}
@media (max-width: 600px) {
  .sect-about {
    margin-left: 0px;
    padding: 20px 5px;
  }

  .about-title {
    font-size: 22px;
  }

  .about-content h3 {
    font-size: 22px;
  }

  .about-content p {
    font-size: 14px;
  }

  .about-icon {
    width: 30px;
    height: 30px;
  }

  .about-banner-text {
    font-size: 24px;
  }
}

@media (max-width: 540px) {
  .sect-about {
    margin-left: 0px;
    padding: 20px 5px;
  }

  .about-title, .about-content h3 {
    font-size: 20px;
  }

  .about-content p {
    font-size: 14px;
  }

  .about-banner h1 {
    font-size: 30px;
  }
  .about-icon {
    width: 40px;
    height: 40px;
  }

}

@media (max-width: 480px) {
  .sect-about {
    margin-left: 0px;
    padding: 20px 5px;
  }

  .about-title, .about-content h3 {
    font-size: 20px;
  }

  .about-content p {
    font-size: 14px;
  }

  .about-banner-text {
    font-size: 24px;
  }
  .about-icon {
    width: 45px;
    height: 45px;
  }
}

@media (max-width: 425px) {
  .sect-about {
    margin-top: 50px;
    margin-left: 0px;
    padding: 20px 5px;
  }

  .about-title, .about-content h3 {
    font-size: 18px;
  }

  .about-content p {
    font-size: 14px;
  }

  .about-banner h1 {
    font-size: 24px;
  }
  .about-icon {
    width: 45px;
    height: 45px;
  }
}
@media (max-width: 385px) {
  .sect-about {
    margin-top: -30px;
    margin-left: 0px;
    padding: 20px 5px;
  }

  .about-title, .about-content h3 {
    font-size: 16px;
  }

  .about-content p {
    font-size: 14px;
  }

  .about-banner h1 {
    font-size: 22px;
  }
  .about-icon {
    width: 40px;
    height: 40px;
  }
}
