/* Estilos generales */
.business-container {
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

/* Encabezado */
.header {
    margin-bottom: 20px;
}

/* Estilos para centrar horizontalmente */
.logo {
    display: flex;
    justify-content: center;
    /* Centra horizontalmente */
    padding-top: 20px;
    /* Ajusta el espacio superior si es necesario */
}

/* Estilos del contenedor del SVG */
.logo-container {
    width: 64px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 11px;
    background: linear-gradient(137deg, #71D6ED 20.69%, #6CCAE1 51.58%, #458391 98.48%);
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-container svg {
    width: 100%;
    height: 100%;
}

.header h1 {
    font-size: 48px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.h2a {
    background: linear-gradient(97deg, #0A4546 0%, #058A8C 33.33%, #02CCCF 66.67%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 36px;
    
}

.ppp {
    color: var(--www-dimension-dev-zumthor-75, rgba(226, 232, 255, 0.75));
    text-align: center;
    font-size: 18px;
    font-style: normal;
    line-height: 24px;
}

/* Imagen principal */
.main-image {
    margin: 20px 0;
}

.main-image img {
    width: 500px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.main-image h3 {
    font-weight: bold;
    margin-top: 10px;
}

.centered-text {
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    font-size: 50px;
    font-weight: bold;
    opacity: 0.8;
}

.spacer {
    height: 50px;
}