/* Animation */
@keyframes scroll {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(calc(-250px * 7));
	}

	/* Fixed semicolon */
}

/* Styling */
.slide-track {
	animation: scroll 40s linear infinite;
	display: flex;
	width: calc(250px * 14);
}

.our-clients {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 200px;
	text-align: center;
	margin-bottom: -1%;
}
.our-clients h1 {
	color: #fff;
	font-size: 2.5rem;
	margin-bottom: 50px;
	margin-bottom: 50px;
}

.slider {
	overflow: hidden;
	width: 100%;
}

.container-top h1 {
	background: linear-gradient(97deg, #0A4546 0%, #058A8C 33.33%, #02CCCF 66.67%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  }
  