.serv {
  color: white;
  text-align: center;
  padding: 4rem 1rem;
}
.serv-cards{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.title {
  margin-top: -50px;
  font-size: 2rem;
  font-weight: bold;
}

.subtitle {
  color: #c2c1c1cb;
  margin-top: -20px;
}

.card-UIUX, .card-stats, .card-nut, .card-cerebro {
  justify-content: center;
  position: absolute;
}

.card-UIUX h3 {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.card-UIUX img {
  width: 25%;
  height: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 80px;
}
.card-UIUX p {
  color: white;
  text-align: center;
  font-size: large;
  margin-left: 10px;
  margin-right: 10px;
}

.card-stats h3 {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.card-stats img {
  width: 20%;
  height: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 70px;
}
.card-stats p {
  color: white;
  text-align: center;
  font-size: large;
  margin-left: 5px;
  margin-right: 5px;
}
.card-cerebro h3 {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.card-cerebro img {
  width: 20%;
  height: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
}
.card-cerebro p {
  color: white;
  text-align: center;
  font-size: large;
  margin-left: 5px;
  margin-right: 5px;
}
.card-nut h3 {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.card-nut img {
  width: 20%;
  height: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 70px;
}
.card-nut p {
  color: white;
  text-align: center;
  font-size: large;
  margin-left: 5px;
  margin-right: 5px;
  padding-bottom: 30px;
}
.card-cerebro h3 {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}