/* Contenedor principal */
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Ocupa al menos el 100% de la altura de la pantalla */
  padding: 20px;
  box-sizing: border-box; /* Incluye el padding en el cálculo del tamaño */
}

/* Contenedor de las cards */
.cards2-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 20px;
  flex-wrap: wrap; /* Para que las cards se ajusten en pantallas pequeñas */
}

/* Card */
.card2 {
  backdrop-filter: blur(8px);
  border-radius: 15px;
  width: 300px;
  height: 450px; /* Aumentar la altura */
  padding: 20px;
  text-align: center;
  color: white;
  background-color: rgba(255, 255, 255, 0.1); /* Fondo más transparente */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
}

.card2:hover {
  transform: scale(1.05);
}

/* Cabecera de la card */
.card2-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

/* Icono de estrella en la card */
.star {
  font-size: 24px;
  margin-bottom: 5px;
}

/* Imagen dentro de la card */
.card2-image {
  width: 100%;
  height: 300px; /* Ajusta el tamaño de la imagen */
  border-radius: 10px;
  object-fit: cover; /* Para que la imagen se ajuste correctamente */
}

/* Título de la sección */
.title {
  text-align: center;
  margin-bottom: 20px; /* Espaciado debajo del título */
}

/* Estilos del contenedor del SVG */
.logo-container {
  width: 64px;
  height: 64px;
  flex-shrink: 0;
  border-radius: 11px;
  background: linear-gradient(137deg, #71D6ED 20.69%, #6CCAE1 51.58%, #458391 98.48%);
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.logo-container svg {
  width: 100%;
  height: 100%;
}

/* RESPONSIVE DESIGN */
@media (max-width: 768px) {
  .card2 {
      width: 250px;
      height: 400px;
  }
  .card2-image {
      height: 250px;
  }
}

@media (max-width: 480px) {
  .cards2-container {
      gap: 20px;
  }
  .card2 {
      width: 90%;
      height: auto;
      padding: 15px;
  }
  .card2-image {
      height: auto;
  }
}
