/* Contenedor principal */
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  margin-top: -5%;
}

/* Título de la sección */
.title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 40px;
  color: white;
}

.title3 {
  background-image: linear-gradient(137deg, #71D6ED 20.69%, #6CCAE1 51.58%, #458391 98.48%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 40px;
}

.title31{
  color : #ffffff;
}


.tilted-cards-container {
  display: flex;
  justify-content: center;
  gap: 90px;
  flex-wrap: wrap;
  padding: 20px 0;
}

.tilted-card-demo-text{
  color : #ffffff;
  font-size: 20px;
  background-color: #000000;
  /* border-radius: 10%; */
}

/* RESPONSIVE DESIGN */
@media (max-width: 768px) {
  .card2 {
      width: 240px;
      height: auto;
      padding: 15px;
  }
  .card2-image {
      height: 300px;
  }
}

@media (max-width: 480px) {
  .cards2-container {
      gap: 15px;
  }
  .card2 {
      width: 90%;
      height: auto;
      padding: 15px;
  }
  .card2-image {
      height: 280px;
  }
}
