.container-ReadyGo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}  

.readyGo {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.logo-readyGo {
  width: 100px;
  height: 100px;
  margin-bottom: 10rem;

}
