/* Estilos base */
.text-animation-container-home {
  position: relative;
  width: 100%; /* Ocupa el 100% del ancho disponible */
  height: 100vh; /* Ocupa toda la altura de la pantalla */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.Text-Sub-Title {
  font-size: 1rem; /* Tamaño base para móviles */
  text-align: center;
  color: white; /* Ajusta el color según el fondo */
  margin: 1rem 0; /* Espacio alrededor del subtítulo */
  padding: 0 1rem; /* Padding para evitar que el texto toque los bordes */
}

.animated-text-home {
  font-size: 2.5rem; /* Tamaño más grande para tablets */
  font-weight: bold;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra para mejor legibilidad */
  padding: 0 1rem; /* Padding para evitar que el texto toque los bordes */
}

/* Media Queries para tablets */
@media (min-width: 768px) {
  .Text-Sub-Title {
    font-size: 1.5rem; /* Tamaño más grande para tablets */
  }

  .animated-text-home {
    font-size: 2.5rem; /* Tamaño más grande para tablets */
  }
}

/* Media Queries para pantallas grandes (desktops) */
@media (min-width: 1024px) {
  .Text-Sub-Title {
    font-size: 1.5rem; /* Tamaño más grande para desktops */
  }

  .animated-text-home {
    font-size: 3rem; /* Tamaño más grande para desktops */
  }
}