.text-animation-container {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 5em;
    transform: translate(-50%, -50%);
    text-align: center;
    }

    .back-container {
    
    }

