/* Estilos base */
.whyus-container {
    color: white;
    text-align: center;
    padding: 50px 20px;
}

.whyus-header {
    margin-bottom: 30px;
}

.whyus-header h2 {
    font-size: 28px;
    color: #50bde9;
}

.whyus-header p {
    color: #aaa;
}

.whyus-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.whyus-card {
    background-color: #11132b;
    padding: 20px;
    border-radius: 12px;
    width: 280px;
    text-align: center;
    border: 1px solid #444;
}

.whyus-card-icon {
    border-radius: 17px;
    padding: 10px;
    align-items: center;
    display: inline-block;
    font-size: 22px;
    width: 100%;
    height: 20%;
}

.whyus-card h3 {
    font-size: 18px;
    margin-top: 15px;
}

.whyus-card p {
    color: #bbb;
    margin-top: 10px;
}

.whyus-btn {
    margin-top: 15px;
    background-color: #4AA0B3;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.whyus-btn:hover {
    background-color: #1da1f2;
}

/* Estilos responsivos */
@media (max-width: 1024px) {
    .whyus-container {
        padding: 40px 15px;
    }
    .whyus-cards {
        gap: 15px;
    }
    .whyus-card {
        width: 250px;
    }
}

@media (max-width: 768px) {
    .whyus-container {
        padding: 30px 10px;
    }
    .whyus-header h2 {
        font-size: 24px;
    }
    .whyus-cards {
        flex-direction: column;
        align-items: center;
    }
    .whyus-card {
        width: 90%;
        max-width: 300px;
    }
}

@media (max-width: 480px) {
    .whyus-container {
        padding: 20px 5px;
    }
    .whyus-header h2 {
        font-size: 28px;
    }
    .whyus-header p {
        font-size: 18px;
    }
    .whyus-card {
        width: 95%;
        padding: 15px;
    }
    .whyus-card h3 {
        font-size: 16px;
    }
    .whyus-card p {
        font-size: 14px;
    }
    .whyus-btn {
        padding: 6px 12px;
        font-size: 14px;
    }
}
