/* index.css */

/* Normalización de márgenes y paddings */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fuente global */
body {
  font-family: 'Poppins', sans-serif; /* Fuente moderna y legible */
  line-height: 1.6;
  background-color: #060614;
}

/* Asegurar que el contenido se muestre correctamente en toda la pantalla */
html, body {
  width: 100%;
  height: 100%;
}

/* Agregar un espacio adecuado para el contenido */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Estilos generales para los links */
a {
  text-decoration: none;
  color: inherit;
}

/* Estilos de los botones */
button {
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 1rem;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

/* Estilo global para los márgenes */
.container {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

/* Estilos para una barra lateral, si es necesaria */
.sidebar {
  width: 250px;
  color: #fff;
  padding: 1rem;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  margin: 1rem 0;
}

/* Otros estilos generales */
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
}

/* Estilo del footer */
footer {
  text-align: center;
  padding: 1rem;
  color: #fff;
}